{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mt-5 offset-md-3">
      <p>Please sign in to share recipes and comments.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-2 offset-md-3">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-secondary mt-3 mb-3" type="submit">Sign in</button>

        <p>
          Need an account? <a class="link" href="{{ signup_url }}">Register</a> now.
        </p>
      </form>
    </div>
  </div>
</div>





{% endblock %}