{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<!-- Logout page -->
<div id="content-section">
  <div class="container hero-image">
    <div class="row">

      <div id="logout">
        <div class="col-md-6 mt-5 mb-5 offset-md-3 add_rec text-center shadow p-3 mb-5 rounded">

          <h3>{% trans "Sign out" %}</h3>

          <p>{% trans 'Are you sure you want to go?' %}</p>

          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-secondary mt-3 mb-3" type="submit">{% trans 'Sign out' %} </button>
            <a class="btn btn-outline-secondary mt-3 mb-3" href="{% url 'home' %}">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}