{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mt-2 offset-md-3">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-secondary mt-3 mb-2" type="submit">Register</button>
        <div class="mb-5">
          <p>
            Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
          </p>
        </div>
      </form>
    </div>
  </div>
</div>



{% endblock %}