body {
  background-color: #E9F0F2;
  /* min-width: fit-content; */

}

.navbar {
  background-color: #E9F0F2;

}


#logout {
  margin-top: 28vh;
}

h2 {
  font-size: 1.5rem;
}



.hero-image {
  background-image: url("https://res.cloudinary.com/dwobtnj0v/image/upload/v1658523309/static/img/home_bg.79b8670b4390.jpg");
  /*The image used */
  height: 1200px;
  /* You must set a specified height */
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */

}


.img-holder {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.container {
  max-width: 2800px;
}

.add_rec {
  background-color: #E9F0F2;
}


.background_img {
  background-image: url("https://res.cloudinary.com/dwobtnj0v/image/upload/v1658592421/img_1_v07gwe.jpg");
  /*The image used */
  height: 1200px;
  /* You must set a specified height */
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

#about_us {
  margin-top: 15%;
  opacity: 0.9;
}


.card {
  background-color: #f3f7f8ee;
  /* width: 18rem; */
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.recipe-link {
  text-decoration: none;
  color: #595959;
}

.recipe-link:hover,
.page-link {
  color: #8C5D42;
}

.recipe-title {
  margin-top: 20%;
  margin-left: 5%;
}



.btn-like {
  color: #E84610;
  border: none;
  background: transparent;
}

.btn-like:hover,
.btn-like:active {
  color: #E84610;
  background: transparent;
  border: none;
}



.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.social-networks {
  max-width: 100vw;
}

.social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  
}

.social-networks a {
  color: grey;
}

.social-networks>li {
  /* padding: 0px 10px; */
  justify-content: space-around;
}

.social-networks i {
  font-size: 190%;
  padding: 16px;
}

.social-networks i:hover {
  color: silver;
}


.img_detail {
  /* width: 80%; */
  /* object-fit: cover; */
  object-fit: cover;
}

.image-container {
  object-fit: cover;
}



.arrow-up {
  font-size: 1.8rem;
  color: grey;
  padding: 10px;
}

.arrow-up>i:hover {
  color: silver;

}

html {
  scroll-behavior: smooth;
}

/* .btn-secondary  {

  background-color: #595959;
}

btn-outline-secondary {
  border-color:#595959;
} */

