{% extends "base.html" %}

{% load static %}

{% block content %}



<div id="content-section col-md-6 mt-2 offset-md-3">
    <div class="container background_img">
        <div class="row">

            <div class="col-md-6 mt-5 mb-5 offset-md-3 add_rec text-center">
                <h3 class="text-muted mt-3"> About Us</h3>
                <p> Welcome to Everything but the Gluten.</p>
                <p> We are a recipe sharing community helping people find and share tasty gluten free recipes.</p>
                <p> We aim to help people living with coeliac disease on their life long gluten free journey.</p>
                <p> Please sign up to create your own personal account.</p> 
                <p> Share your own recipes with others. </p> 
                <p> Comment on recipes and like your favourites. </p>
                <p> Our community welcomes anyone that eats!!</p>
            </div>

            

        </div>
    </div>
</div>

{% endblock content%}