{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- landing page / about section -->
<section id="about">
    <div>
        <div class="container hero-image">
            <div class="row">
                <div id="about_us">
                    <div class="col-md-6 mt-5 mb-5 offset-md-3 add_rec text-center shadow p-3 mb-5 rounded">
                        <h3 class="text-muted mt-3 mb-5 pt-3">Coeliac Disease</h3>

                        <p>Coeliac disease is an autoimmune disorder that occurs in genetically predisposed people where the ingestion of gluten leads to damage in the small intestine.</p>
                        <p> It is estimated to affect 1 in 100 people worldwide.</p>
                        <p> The disease is triggered by eating foods containing gluten which then causes the auto immune response attackng the lining of the small intestine. </p>
                        <p> Gluten is a protein found naturally in wheat, barley, and rye, and is common in foods such
                            as bread, pasta, biscuits and beer.</p>

                        <p>There is no cure for coeliac disease, the only treatment is a lifelong gluten free diet. </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content%}