{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- landing page / about section -->
<section id="about">
    <div id="content-section col-md-6 mt-2 offset-md-3">
        <div class="container hero-image">
            <div class="row">

                <div id="about_us">
                    <div class="col-md-6 mt-5 mb-5 offset-md-3 add_rec text-center shadow p-3 mb-5 rounded">
                        <h3 class="text-muted mt-3 mb-5 pt-3"> Welcome to Everything but the Gluten</h3>
                        <p> A recipe sharing community helping people find and share tasty gluten free recipes.
                        </p>
                        <p> Our aim is to help people living with coeliac disease on their life long gluten free
                            journey.</p>
                        <p> Please sign up to create your own personal account.</p>
                        <p> Share your recipes with others. </p>
                        <p> Comment on recipes.
                            <p> Save your favourites by liking them. <i class="far fa-heart"></i> </p>
                            <p class="pb-3"> Our community is open to anyone looking for gluten free ideas.</p>

                            <a class="arrow-up" href="{% url 'recipe_page_list' %}">
                                <i class="fa fa-chevron-circle-down mb-4"></i>
                            </a>
                        
                            <div class="d-grid gap-2 col-4 mx-auto mb-3">
                                <a class="btn btn-secondary" href="{% url 'recipe_page_list' %}">Recipes</a>
                                
                              </div>
                           
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- <div class="container">
    <div class="hero-image"></div>
</div> -->

{% endblock content%}