{% extends "base.html" %}

{% block content %}



<div class="container-lg my-5">
    
    <div class="row justify-content-center"><!-- j-c-end, j-c-start, j-c-between, j-c-around -->
      <div class="col-md-3">
        <div class="p-5 bg-secondary text-light">recipe 1</div>
      </div>
      <div class="col-md-3">
        <div class="p-5 bg-warning text-light">recipe 2</div>
      </div>
      <div class="col-md-3">
        <div class="p-5 bg-info text-light">recipe 3</div>
      </div>
    </div>
  </div>

{% endblock content%}