{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container hero-image">
    <div class="img-holder">

        <img class="hero-image" />

    </div>
</div>




<section id="recipes">

    <div class=" col-8 offset-2 mb-2 mt-5 ">
        <h2 class="text-secondary fw-bold ">
            Gluten Free Recipes
        </h2>
    </div>
    <div class="container-fluid">
        <div class="row">

            <!-- Recipe Entries Column -->
            <div class="col-8 offset-2 mt-3 left">
                <div class="row">
                    {% for recipe in recipe_list %}
                    <div class="col-md-4">

                        <div class="card-deck">
                            <div class="card mb-4" style="width: 20rem">
                                <div class="card-body">

                                    <a href="{% url 'recipe_detail' recipe.slug%}" class="recipe-link">


                                        <div class="image-container">
                                            {% if "placeholder" in recipe.featured_image.url %}
                                            <img class="card-img-top"
                                                src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                            {% else %}
                                            <img class="card-img-top" src=" {{ recipe.featured_image.url }}">
                                            {% endif %}
                                            <div class="image-flash">

                                                <!-- <a href="#" class="recipe-link"> -->
                                                <h2 class="card-title">{{ recipe.title }}</h2>
                                    </a>

                                    <p class="author">by {{ recipe.author }}</p>
                                </div>
                            </div>

                            <hr />
                            <div class="card-text">
                                <p>
                                    <i class="far fa-clock card-icons"></i> Prep time: {{ recipe.preparation_time  }}
                                </p>
                                <p>
                                    <i class="far fa-clock card-icons"></i> Cook time: {{ recipe.cooking_time }}
                                </p>
                            </div>

                            <hr />
                            <p> <i class="far fa-heart"></i>
                                {{ recipe.number_of_likes }}</p>

                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}

        </div>
    </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
    </div>


</section>


<section id="about">
<div id="content-section col-md-6 mt-2 offset-md-3">
    <div class="container background_img">
        <div class="row">

            <div id="about_us">
            <div class="col-md-6 mt-5 mb-5 offset-md-3 add_rec text-center shadow p-3 mb-5 rounded">
                <h3 class="text-muted mt-3 pt-3"> about us</h3>
                <p> Welcome to Everything but the Gluten.</p>
                <p> We are a recipe sharing community helping people find and share tasty gluten free recipes.</p>
                <p> Our aim is to help people living with coeliac disease on their life long gluten free journey.</p>
                <p> Please sign up to create your own personal account.</p> 
                <p> Share your recipes with others. </p> 
                <p> Comment on recipes.
                <p> Save your favourites by liking them. <i class="far fa-heart"></i> </p>
                <p class="pb-3"> Our community is open to anyone looking for gluten free ideas.</p>
            </div>
        </div>

            

        </div>
    </div>
</div>
</section>


{% endblock content%}