{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="content-section col-md-6 mt-2 offset-md-3">
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-2 offset-md-3 text-center">
            <h3>Delete Recipe</h3>
            <p class="text-muted">Are you sure you want to delete your {{ recipe.title }} recipe?</p>

            <form method="POST">
                {% csrf_token %}
                <input type="submit" value="Yes, Delete" class="btn btn-outline-danger mt-3 mb-3">
                <a class="btn btn-outline-secondary mt-3 mb-3" href="{% url 'recipe_detail' recipe.slug %}">Cancel</button>
            </form>
            
        </div>
    </div>
</div>
</div>


{% endblock content %}