{% extends "base.html" %}

{% load static %}

{% block content %}
{% load crispy_forms_tags %}




<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 card mb-4  mt-5 left  top">
            <div class="card-body mt-5">

                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <h2 class="card-title">{{ recipe.title }}</h2>
                <p>By {{ recipe.author }}</p>
                <p class="card-text text-muted h6">Posted on {{ recipe.created_on}}</p>
                <div >
                    {% if recipe.author == user%}
                   
                        <a class="btn btn-secondary mt-3 mb-3" href="{% url 'recipe_update' recipe.slug %}">Edit</a>
                        <a class="btn btn-danger mt-3 mb-3" href="{% url 'recipe_delete' recipe.slug %}">Delete</a>
                   
                    {% endif %}
                </div>


                
        <div class="img_detail">
                {% if "placeholder" in recipe.featured_image.url %}
                <img class="card-img-top "  src="https://res.cloudinary.com/dwobtnj0v/image/upload/v1658523307/static/img/img_1.a75a327018a7.jpg" >
                {% else %}
                <img class="card-img-top" src=" {{ recipe.featured_image.url }}">
                {% endif %}

            </div>

                <p class="card-text ">
                    {{ recipe.content | safe }}
                </p>
                <h3>Ingredients:</h3>
                <p class="card-text ">
                    {{ recipe.ingredients| safe }}
                </p>
                <h3>Instructions:</h3>
                <p class="card-text ">
                    {{ recipe.instructions | safe }}
                </p>

               

                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                                {% csrf_token %}

                                {% if liked %}
                                <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>
                                {% endif %}

                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>

                            {% endif %}
                            <span class="text-secondary">{{ recipe.number_of_likes }}</span>
                        </strong>

                    </div>


                  
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>

                

                
            </div>
        </div>
     </div>
  
     <!-- <div class="row"> -->
        <div class="col-md-8 offset-md-2 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                  
                    <!-- The body of the comment goes before the | -->
                    <ul>
                        <li>
                            {{ comment.body | linebreaks }}
                            <p class="font-weight-bold">
                                <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                                {{ comment.name }} 
                            </p>
                            <span class=" text-muted font-weight-normal">
                                <!-- The comment's created date goes here -->
                                {{ comment.created_on }}
                            </span>

                        </li>
                    </ul>
                    

                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>


            <div class="card-body ">

                {% if user.is_authenticated %}

                <h3 class="mt-5">Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary mt-4">Submit</button>
                </form>
                {% endif %}

                <!-- For later -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>

                {% endif %}

            </div>



        </div>

    </div>
</div>


{% endblock content %}